<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    
    <!-- Bindings define how the client application communicates with the service -->
    <bindings>
      
      <!-- This binding is set up to allow AJAX calls from our HTML/JavaScript client -->
      <webHttpBinding>
        <binding name="webBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" >
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
          <!-- If using SSL, un-comment the section below -->
          <!--
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
          -->
        </binding>
      </webHttpBinding>
      
      <!-- This binding is set up to allow direct calls from our .NET clients (by service reference or proxy class) -->
      <basicHttpBinding>
        <binding name="appBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" >
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647"/>
          <!-- If using SSL, un-comment the section below -->
          <!--
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
          -->
        </binding>
      </basicHttpBinding>
      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <!-- Endpoint behaviors are used by the endpoints to couple to bindings -->
      <endpointBehaviors>
        <!-- We're adding this behavior to support AJAX calls from our HTML/JavaScript client -->
        <behavior name="webEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
    
    <!-- Adding the optional "services" section allows us to explicitly define multiple endpoints -->
    <!-- NOTE: When configuring multiple endpoints, you must specify different addresses for each one -->
    <services>
      <!-- The service is the actual .NET service to which we will connect -->
      <service name="WcfTrainingExample.ExampleService" behaviorConfiguration="defaultServiceBehavior">
        
        <!-- This endpoint (using the Basic HTTP protocol) will be used by our .NET clients -->
        <!-- NOTE: Because the "address" is empty, the URL accessed will be our service without additional adornment -->
        <!-- URL: http://localhost:30659/ExampleService.svc -->
        <endpoint name="appEndpoint"
          address=""
          binding="basicHttpBinding"
          bindingConfiguration="appBinding"
          contract="WcfTrainingExample.IExampleService" />
        
        <!-- This endpont (using the Web HTTP protocol) will be used by our HTML/JavaScript client -->
        <!-- NOTE: The address is relative and represents only what is appended (in the REST mpodel) to the service URL -->
        <!-- URL: http://localhost:30659/ExampleService.svc/Web -->
        <endpoint name="webEndpoint"
          address="Web"
          binding="webHttpBinding"
          bindingConfiguration="webBinding"
          contract="WcfTrainingExample.IExampleService"
          behaviorConfiguration="webEndpointBehavior" />
        
      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
