<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="appBinding" />
          <binding name="appEndpoint" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:30659/ExampleService.svc"
          binding="basicHttpBinding" bindingConfiguration="appBinding"
          contract="ServiceReference.IExampleService" name="appEndpoint" />
        <endpoint address="http://localhost:30659/ExampleService.svc"
          binding="basicHttpBinding" bindingConfiguration="appEndpoint"
          contract="ServiceReference.IExampleService" name="appEndpoint1" />
      </client>
    </system.serviceModel>
</configuration>